.logsPage-results {
    display: flex;
    justify-content: center; /* Centers the table horizontally */
  }
  
  .logsPage-results table {
    width: auto; /* Adjusts to the content width */
    margin: 0 auto; /* Ensures proper centering if width is specified */
    border-collapse: collapse; /* Optional: Makes the table look cleaner */
  }
  
  .logsPage-results th,
  .logsPage-results td {
    padding: 15px 60px; /* Adds padding for a cleaner look */
    text-align: left; /* Adjust as needed */
  }

  .logsPage-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  