.main-role-selection-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adress-card-icon {
  color: #006eaf;
  margin-top: 50px;
  margin-bottom: 20px;
}

.user-cog-icon {
  color: #006eaf;
  margin-top: 58px;
  margin-bottom: 28px;
}

.login-header {
  color: #1f1f1f;
  font-weight: 600;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
}

.admin-toggle-button {
  margin-top: 10rem;
  background-color: #3d8bcd;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 8px 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
