.table-wrapper {
  display: block;
  justify-content: center;
  overflow-x: auto;
  overflow-y: auto;
  margin: 30px 60px;
  border-radius: 5px;
}

.table {
  border-collapse: collapse; /* Optional: Makes the table look cleaner */
  width: 100%; /* Adjusts to the content width */
}

.table th,
.table td {
  padding: 15px 20px; /* Adds padding for a cleaner look */
  text-align: left; /* Adjust as needed */
}

/* Header row */
.table th {
  background-color: #006eaf; /* Blue background */
  color: #ffffff; /* White text */
}

/* Alternating row colors */
.table tr:nth-child(even) {
  background-color: #fff; /* white */
}

.table tr:nth-child(odd) {
  background-color: #dad9d9; /* Light grey */
}

.clickable-row {
  cursor: pointer; /* Change cursor to pointer on hover */
}
